<div class="flex w-full h-full items-center justify-center">

<div class="login-container max-w-[500px] w-full">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
        <div *ngIf="submitted && f['email'].errors">
          <small *ngIf="f['email'].errors['required']">Email is required.</small>
          <small *ngIf="f['email'].errors['email']">Invalid email format.</small>
        </div>
      </div>
  
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" />
        <div *ngIf="submitted && f['password'].errors">
          <small *ngIf="f['password'].errors['required']">Password is required.</small>
          <small *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters long.</small>
        </div>
      </div>
  
      <button type="submit">Login</button>
    </form>
  
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>
  